body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  margin-left: 5vw; /* 네비게이션 바 너비만큼 여백 추가 */
}

h2 {
  font-weight: bold;
}

header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
}

section {
  padding: 20px;
}

.main-sources {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

#weather-cards-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap */
  justify-content: center; /* Center the cards horizontally */
  gap: 20px; /* Space between cards */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding around the container */
}

.card {
  flex: 1 1 calc(14% - 20px); /* Dynamic width: Minimum width of 25% of container minus spacing */
  background-color: #e3f2fd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.pollutants {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap */
  justify-content: center; /* Center the cards horizontally */
  gap: 20px; /* Space between cards */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding around the container */
}

.pollutant {
  flex: 1 1 calc(14% - 20px); /* Dynamic width: Minimum width of 25% of container minus spacing */
  background-color: #ffd2d2;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: center; /* Centers the charts */
  flex-wrap: wrap; /* Ensures charts wrap on smaller screens */
  gap: 20px; /* Space between charts */
  margin: 0 auto;
  padding: 20px;
}

#chartContainer {
  flex: 1 1 calc(33.33% - 20px); /* Default to 3 columns */
  max-height: 500px;
  padding: 20px; /* Consistent padding for each chart */
  box-sizing: border-box;
  min-width: 250px; /* Ensures the chart container doesn't shrink too much */
  margin-bottom: 20px; /* Space at the bottom of each chart */
}

@media (max-width: 1024px) {
  #chartContainer {
    flex: 1 1 calc(50% - 20px); /* 2 charts per row on medium screens */
  }
}

@media (max-width: 768px) {
  #chartContainer {
    flex: 1 1 100%; /* Stacks charts vertically on small screens */
  }
}


canvas {
  width: 100%; /* 캔버스가 컨테이너에 맞게 확장되도록 */
  height: auto; /* 비율에 맞게 세로 크기 자동 조정 */
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

/* 네비게이션 바 스타일링 */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 5vw; /* 사이드바 너비 */
  height: 100vh; /* 화면 높이 만큼 */
  background-color: #343a40;
  color: white;
  padding-top: 20px;
  z-index: 1000; /* 다른 콘텐츠보다 위에 표시되도록 */
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
}

.sidebar ul li a:hover {
  background-color: #555;
}
